@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<FluentSplitter Orientation="Orientation.Horizontal">
    <Panel1>
        <!-- Tree View on Left Side -->
        <FluentTreeView>
            @foreach (var (index, compilerCall) in CompilerCalls.Index())
            {
                <FluentTreeItem Text="@compilerCall.GetDiagnosticName()" Value="@index">
                    <FluentTreeItem Text="RSP" @onclick="@(_ => OnRspClicked(JSRuntime, compilerCall))" />
                    <FluentTreeItem Text="Generated Files" @onclick="@(_ => OnGeneratedFilesClicked(compilerCall))" />
                </FluentTreeItem>
            }
        </FluentTreeView>
    </Panel1>

    <Panel2>

        <div>
            The other side
        </div>

        @if (Mode == Mode.GeneratedFiles)
        {
            <FluentSelect
                TOption="string"
                Items=@GeneratedFiles
                OptionText="@(p => Path.GetFileName(p))"
                @bind-Value="SelectedGeneratedFile"
                @onchange="@(_ => OnGeneratedFileSelected(JSRuntime))" />
        }

        <StandaloneCodeEditor @ref="CodeEditor" Id="code-editor" ConstructionOptions="CreateCodeEditorOptions" />
    </Panel2>
</FluentSplitter>