@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<FluentSplitter Orientation="Orientation.Horizontal" Style="height: 100%">
    <Panel1>
        <!-- Tree View on Left Side -->
        <FluentTreeView>
            @foreach (var (index, compilerCall) in CompilerCalls.Index())
            {
                <FluentTreeItem Text="@compilerCall.GetDiagnosticName()" Value="@index">
                    <FluentTreeItem Text="RSP" @onclick="@(_ => OnRspClicked(JSRuntime, compilerCall))" />
                    <FluentTreeItem Text="Generated Files" @onclick="@(_ => OnGeneratedFilesClicked(compilerCall))" />
                </FluentTreeItem>
            }
        </FluentTreeView>
    </Panel1>

    <Panel2>

        @if (Mode == Mode.GeneratedFiles)
        {
            if (GeneratedFiles.Count == 0)
            {
                <div>
                    <p>No generated files available in this compilation.</p>
                </div>
            }
            else
            {
                <div style="display: flex">
                    <label>Generated Files</label>
                    <FluentSelect
                        @ref="GeneratedFilesSelect"
                        TOption="string"
                        Items=@GeneratedFiles
                        OptionText="@(p => Path.GetFileName(p))"
                        OptionValue="@(p => p)"
                        @onchange="@(e => OnGeneratedFileSelected(JSRuntime, e))" />
                </div>
            }
        }

        @if (IsEditorVisible)
        {
            <StandaloneCodeEditor @ref="CodeEditor" Id="code-editor" ConstructionOptions="CreateCodeEditorOptions" />
        }
    </Panel2>
</FluentSplitter>